@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');


body{
  background: rgb(245,245,245);
  color: green ;
  font-size: 15px;
  font-family:Lato;
}
h1{
  font-family:Poppins;
  color: black;
  font-weight: lighter;
  font-size: 50px;
  text-shadow: 3px 3px 5px white ;
}
h2 {
  font-family:Lato;
  color: blue;
  font-weight: lighter;
  font-size: 15px;
}
a {
  color: red;
}
}
a:hover {
  text-decoration: none;
  color: purple;
}

h3 {
  text-align: center;
  color: red;
}

h4 {
  text-align: center;
  color: black;
}
p {
  color: white;
}
#banner{
  text-align: center;
  border: 1px solid black;
  background-image: url("mainoutils.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 150px;
  color: white;
  }

.card {
  text-align: center;
  margin: 40px;
}

h5 {
  color : white ;
  font-size : 20px ; 
  text-shadow: 1px 1px 5px black ;
}

#footer{
  padding: 10px;
    background: rgb(30, 30, 30);
    color: white;
    text-align: center;
    background-color: white;
}
body{
  background-color: white;
}